{% extends 'strony/base.html' %}

{% block title %}
    Dodawanie Zwierzaka
{% endblock %}

{% block content %}
    <div class="form-container">
        <form method="post" enctype="multipart/form-data" class="form">
            <h1> Dodaj Zwierzaka </h1>
            {{ form.as_p }}
            {% csrf_token %}
            <div class="button-container">
                <button type="submit" class="btn btn-primary" id="dodaj">Dodaj</button>
            </div>
        </form>
    </div>
{% endblock %}
