{% extends 'strony/base.html' %}

{% block title %}
    Adopcja
{% endblock %}

{% block content %}
    <div class="adoption-container">
        {% for Animal in Animals %}
            {% if Animal.status != "Nie-adoptowany" and Animal.status != 'nie-adoptowany' %}
                <div class="card">
                    <img src="{{ Animal.picture.url }}" class="card-img-top" alt="{{ Animal.name }}">

                    <div class="card-body">
                        <h5 class="card-title">{{ Animal.name }} - Lat: {{ Animal.age }}</h5>
                        <p class="card-text">{{ Animal.description }} , {{ Animal.status }}</p>
                        {% if admin == '1' %}
                            <a href="{% url 'zmianaStatusuNieAdopotwany' Animal.id %}" class="btn btn-success">Zmień status na "Nie-Adoptowany"</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
